<app-sidebar></app-sidebar>
<h1 class="text-white">Listado de Materias</h1>
<hr>


<div class="row">
  <div class="col text-right">
    <button routerLink="/materia/nuevo"
            class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>


<table *ngIf="!cargando && materias.length > 0"
       class="table table-dark mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre_Materia</th>
      <th scope="col">Nombre_Corto</th>
      <th scope="col">Nombre_Abreviado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let materia of materias; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ materia.nombre_materia }}</td>
      <td>{{ materia.nombre_corto }}</td>
      <td>{{ materia.nombre_abreviado }}</td>
      <td>

        <button class="btn btn-info mr-1"
            [routerLink]="['/materia', materia.id ]">
          <i class="fa fa-pen"></i>
        </button>

        <button class="btn btn-danger"
            (click)="borrarMateria( materia, i ) ">
          <i class="fa fa-trash"></i>
        </button>


      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!cargando && materias.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando" 
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>