<div class="m-5">
    <h1>Mi aplicacion secreta</h1>
    <button class="btn btn-outline-danger" (click)="salir()">Salir</button>
  </div>

<h2 class="text-white">SGEscolares</h2>
<hr class="text-white">
<ul class="list-group">
    <button class="list-group-item" routerLink="/alumnos" routerLinkActive="active" 
    >

    Alumnos
    </button>

    <button  class="list-group-item" routerLink="/carreras" 
    routerLinkActive="active">

    Carreras
    </button>

    <button class="list-group-item" routerLink="/maestros"
    routerLinkActive="active">
    
    Maestros
    </button>

    <button class="list-group-item" routerLink="/materias"
    routerLinkActive="active">
    
    Materias
    </button>

</ul>